{% extends 'base.html' %}

{% block content %}
<form method="post" class="my-4">
    {% csrf_token %}

    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Titre du ticket :</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description du ticket :</label>
                {{ form.description }}
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="{{ form.headline.id_for_label }}">Titre de la critique :</label>
                {{ form.headline }}
            </div>

            <div class="form-group">
                <label for="{{ form.rating.id_for_label }}">Note de la critique :</label>
                <select name="{{ form.rating.name }}" id="{{ form.rating.id_for_label }}" class="form-control">
                    {% for value in form.rating.field.choices %}
                    <option value="{{ value.0 }}">{{ value.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="{{ form.body.id_for_label }}">Corps de la critique :</label>
                {{ form.body }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Créer Ticket et Critique</button>
</form>
{% endblock %}