{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review/css/review_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-3">Détails de la critique</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">{{ review.headline }}</h5>
            <p class="card-text mb-3">{{ review.body }}</p>
            <p class="card-text mb-3">Note : {{ review.rating }}</p>
            <p class="card-text mb-3">Auteur : {{ review.user }}</p>
            <p class="card-text mb-3">Date de création : {{ review.time_created }}</p>
            <a class="btn btn-primary" href="{% url 'tickets' %}">Retour aux reviews</a>
        </div>
    </div>
</div>
{% endblock %}