{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review/css/tickets.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Mes tickets :</h1>
            <a class="btn btn-primary mb-3" href="/review/create_ticket">Demander une critique</a>
            {% if tickets %}
            <ul class="list-group">
                {% for ticket in tickets %}
                {% if ticket.user == request.user %}
                <li class="list-group-item">
                    <h2>{{ ticket.title }}</h2>
                    <p>{{ ticket.description }}</p>
                    <a class="btn btn-danger" href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <p id="no-tickets">Pas de tickets.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}