{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'review/css/tickets.css' %}">
{% endblock %}
{% block content %}
<div id="display_tickets">
    <a href="/review/create_ticket">Ajouter un ticket</a>
    {% if tickets %}
    <h1>Mes tickets :</h1>
    <ul>
        {% for ticket in tickets %}
        {% if ticket.user == request.user %}
        <li>
            <h2>{{ ticket.title }}</h2>
            <p>{{ ticket.description }}</p>
        </li>
        {% endif %}
        {% endfor %}

    </ul>
    {% else %}
    <p id="no-tickets">No tickets found.</p>
    {% endif %}
</div>
{% endblock %}