{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review/css/tickets.css' %}">
{% endblock %}

{% block content %}
<div class="col">
    <a class="btn btn-primary mb-3" href="/review/create_ticket">Demander une critique</a>
    {% if tickets %}
    <h1>Mes tickets :</h1>

    <ul class="list-group">
        {% for ticket in tickets %}
        <li class="list-group-item ticket-item">
            <div class="ticket-header">
                <h2 class="ticket-title">{{ ticket.title }}</h2>
                <p class="ticket-date">Créé le {{ ticket.created_date }}</p>
            </div>
            <p class="ticket-description">{{ ticket.description }}</p>
            <div class="ticket-actions">
                <a class="btn btn-primary" href="{% url 'ticket_detail' ticket.id %}">Voir</a>
                <a class="btn btn-danger" href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-tickets">Pas de tickets.</p>
    {% endif %}

    {% if reviews %}
    <h2>Mes Critiques :</h2>
    <ul>
        {% for review in reviews %}
        <li>
            <div class="review-header">
                <h3 class="review-title">{{ review.ticket.title }}</h3>
                <p class="review-description">Note: {{ review.note }}</p>
            </div>
            <p class="review-description">{{ review.description }}</p>
            <div class="review-actions">
                <a class="btn btn-primary" href="{% url 'review_detail' review.id %}">Voir</a>
                <a class="btn btn-danger" href="{% url 'delete_review' review.id %}">Supprimer</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-tickets">Pas de critiques.</p>
    {% endif %}
</div>

{% endblock %}