{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Détails du ticket</h1>
                    <h2 class="card-subtitle mb-3">{{ ticket.title }}</h2>
                    <p class="card-text mb-3">{{ ticket.description }}</p>
                    <p class="card-text">Créé le : {{ ticket.time_created }}</p>
                    <a class="btn btn-primary" href="{% url 'home' %}">Retour au Flux</a>
                    <a class="btn btn-primary" href="{% url 'tickets' %}">Retour aux posts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}