{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" name="username" required><br>

    <label for="email">Adresse email:</label>
    <input type="email" name="email" required><br>

    <label for="password1">Mot de passe:</label>
    <input type="password" name="password1" required><br>

    <label for="password2">Confirmer le mot de passe:</label>
    <input type="password" name="password2" required><br>

    <input type="submit" value="S'inscrire">
</form>

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.</p>
{% else %}
<p>Vous avez déjà un compte ? <a href="{% url 'login' %}">Connectez-vous</a></p>
{% endif %}
{% endblock %}