{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review/css/tickets.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a class="btn btn-primary mb-3" href="/review/create_ticket">Demander une critique</a>
        </div>
        <div class="col-md-6 text-center">
            <a class="btn btn-primary mb-3" href="/review/create_ticket_review">Créer une critique</a>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="mt-4">Votre Flux :</h1>
    {% if posts %}
    <ul class="list-group">
        {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
        <li class="list-group-item">
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
            <p>De : {{ post.user }}</p>
            <p>Date de création : {{ post.time_created }}</p>
            {% if post.reviews.exists %}
            <div class="card">
                <div class="card-header">
                    Critiques associées à la demande de critique
                </div>
                <ul class="list-group list-group-flush">
                    {% for review in post.reviews.all %}
                    <li class="list-group-item">
                        <p class="text-muted">Critique : {{ review.headline }}</p>
                        <a href="{% url 'review_detail' review.id %}" class="btn btn-primary mr-2">Voir</a>
                        {% if user.id == review.user.id %}
                        <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Supprimer Critique</a>
                        <a class="btn btn-secondary" href="{% url 'update_review' review.id %}">Modifier</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <a href="{% url 'create_review' post.id %}" class="btn btn-success">Répondre</a>
            {% endif %}
        </li>
        {% else %}
        <li class="list-group-item">
            <!-- Afficher les détails de la review -->
            <!-- ... -->
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <p>Aucune demande de critique disponible.</p>
            <a href="{% url 'subscription' %}" class="btn btn-primary">S'abonner</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}