{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'review/css/tickets.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Votre Flux :</h1>
    {% if tickets %}
    <ul class="list-group">
        {% for ticket in tickets %}
        <li class="list-group-item">
            <h4>{{ ticket.title }}</h4>
            <p>{{ ticket.description }}</p>
            <p>De : {{ ticket.user}}</p>
            {% if ticket.reviews.exists %}
            <!-- Afficher les critiques associées à la demande de critique -->
            <ul class="list-group">
                {% for review in ticket.reviews.all %}
                <li class="list-group-item">
                    <p class="text-muted">Critique : {{ review.headline }}</p>
                    <a href="{% url 'review_detail' review.id %}" class="btn btn-primary">Voir</a>
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Supprimer Critique</a>

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <a href="{% url 'create_review' ticket.id %}" class="btn btn-success">Répondre</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <p>Aucune demande de critique disponible.</p>
            <a href="{% url 'subscription' %}" class="btn btn-primary">S'abonner</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}