{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <nav>
            <span>LITReview</span>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="/review/flux">Flux</a></li>
                <li><a href="/review/posts">Posts</a></li>
                <li><a href="/accounts/abonnement">Abonnement</a></li>
                <li><a href="/accounts/logout">Se déconnecter</a></li>
                {% else %}
                <li><a href="/accounts/login">Se connecter</a></li>
                {% endif %}
            </ul>

        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Votre pied de page ici -->
    </footer>
    {% block extra_body %}{% endblock %}
</body>

</html>