{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <p class="header_user_name">Bienvenue, {{ request.user.username }}</p>
            {% endif %}
            <span><a href="/">LITReview</a></span>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="/">Flux</a></li>
                <li><a href="/review/posts">Posts</a></li>
                <li><a href="/review/abonnement">Abonnement</a></li>
                <li><a href="/accounts/logout">Se déconnecter</a></li>
                {% else %}
                <li><a href="/accounts/login">Se connecter</a></li>
                {% endif %}
            </ul>

        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Votre pied de page ici -->
    </footer>
    {% block extra_body %}{% endblock %}
</body>

</html>